# Virtualenvs
venv/
.venv/
stockifai-backend/.venv/

# IDE
.vscode/

# Python cache/bytecode
**/__pycache__/
*.pyc
*.pyo
*.pyd

# DB local
**/db.sqlite3

# Environment files
**/.env

# Logs
*.log
