# Virtualenvs
.venv/
venv/
stockifai-backend/.venv/

# IDE
.vscode/
.idea/

# Python cache/bytecode
__pycache__/
*.py[cod]
*$py.class

# DB local
db.sqlite3
**/db.sqlite3

# Env
.env
**/.env

# Logs
*.log
stockifai-backend/import_debug.log
