.chart-wrap {
    width: 100%;
    height: 400px;
}

.row-selected {
}

.table-light th {
    vertical-align: middle !important;
}

thead.table-light th {
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}

thead.table-light tr:nth-child(2) th {
    line-height: 1.1;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
